:root{
    --negro:#18191a;
}

*{
    padding:0px;
    margin:0px;
}

body{
    background:var(--negro);
}

.contenedor_letrero{
    background-color:transparent;
    width:100vh;
    height:100vh;
    margin:auto;
    display:grid;
    justify-content:center;
}

.texto{
    margin:auto;
    font-size:150px;
    font-family: 'Rubik Dirt', cursive;
    font-weight:bold;
    transition:2s ease;
}

.texto span{
    transition:2s ease;
}

.rojo{
    color:#fd0101;
    text-shadow:
    5px 0px 1px #c00000,
    10px 0px 1px #c00000,
    15px 0px 1px #c00000,
    
    30px 0px 40px #fd0101,
    30px 10px 40px #fd0101,
    30px -10px 40px #fd0101,
    -10px 0px 40px #fd0101,
    0px 10px 40px #fd0101,
    0px -10px 40px #fd0101,
    0px 120px 50px #fd0101;

    animation: rojo 2s alternate-reverse infinite;
}


@keyframes rojo {
    0%{
        text-shadow:
        5px 0px 1px #c00000,
        10px 0px 1px #c00000,
        15px 0px 1px #c00000,
        
        30px 0px 35px #fd0101,
        30px 10px 35px #fd0101,
        30px -10px 35px #fd0101,
        -10px 0px 35px #fd0101,
        0px 10px 35px #fd0101,
        0px -10px 35px #fd0101,
        0px 120px 50px #fd0101;
    }
    100%{
            text-shadow:
            5px 0px 1px #c00000,
            10px 0px 1px #c00000,
            15px 0px 1px #c00000,
            
            30px 0px 25px #fd0101,
            30px 10px 25px #fd0101,
            30px -10px 25px #fd0101,
            -10px 0px 25px #fd0101,
            0px 10px 25px #fd0101,
            0px -10px 25px #fd0101,
            0px 120px 40px #fd0101;
        }
}




.naranja{
    color:#ff9100;
    text-shadow:
    5px 0px 1px #d87a00,
    10px 0px 1px #d87a00,
    15px 0px 1px #d87a00,
    
    30px 0px 25px #ff9100,
    30px 10px 25px #ff9100,
    30px -10px 25px #ff9100,
    -10px 0px 25px #ff9100,
    0px 10px 25px #ff9100,
    0px -10px 25px #ff9100,
    0px 120px 40px #ff9100;

    animation: naraja 2s alternate-reverse infinite;
}

@keyframes naraja {
    0%{
        text-shadow:
        5px 0px 1px #d87a00,
        10px 0px 1px #d87a00,
        15px 0px 1px #d87a00,
        
        30px 0px 35px #ff9100,
        30px 10px 35px #ff9100,
        30px -10px 35px #ff9100,
        -10px 0px 35px #ff9100,
        0px 10px 35px #ff9100,
        0px -10px 35px #ff9100,
        0px 120px 50px #ff9100;
    
    }
    100%{
            text-shadow:
            5px 0px 1px #d87a00,
            10px 0px 1px #d87a00,
            15px 0px 1px #d87a00,
            
            30px 0px 25px #ff9100,
            30px 10px 25px #ff9100,
            30px -10px 25px #ff9100,
            -10px 0px 25px #ff9100,
            0px 10px 25px #ff9100,
            0px -10px 25px #ff9100,
            0px 120px 40px #ff9100;
        
        }
}

.amarillo{
    color:#e2e61c;
    text-shadow:
    5px 0px 1px #c7ca00,
    10px 0px 1px #c7ca00,
    15px 0px 1px #c7ca00,
    
    30px 0px 25px #e2e61c,
    30px 10px 25px #e2e61c,
    30px -10px 25px #e2e61c,
    -10px 0px 25px #e2e61c,
    0px 10px 25px #e2e61c,
    0px -10px 25px #e2e61c,
    0px 120px 40px #e2e61c;

    animation: amarillo 2s alternate-reverse infinite;
}

@keyframes amarillo {
    0%{
        text-shadow:
        5px 0px 1px #c7ca00,
        10px 0px 1px #c7ca00,
        15px 0px 1px #c7ca00,
        
        30px 0px 35px #e2e61c,
        30px 10px 35px #e2e61c,
        30px -10px 35px #e2e61c,
        -10px 0px 35px #e2e61c,
        0px 10px 35px #e2e61c,
        0px -10px 35px #e2e61c,
        0px 120px 50px #e2e61c;
    
    }
    100%{
            text-shadow:
            5px 0px 1px #c7ca00,
            10px 0px 1px #c7ca00,
            15px 0px 1px #c7ca00,
            
            30px 0px 25px #e2e61c,
            30px 10px 25px #e2e61c,
            30px -10px 25px #e2e61c,
            -10px 0px 25px #e2e61c,
            0px 10px 25px #e2e61c,
            0px -10px 25px #e2e61c,
            0px 120px 40px #e2e61c;
        }
}

.celeste{
    color:#00b4fc;
    text-shadow:
    5px 0px 1px #009ad6,
    10px 0px 1px #009ad6,
    15px 0px 1px #009ad6,
    
    30px 0px 25px #00b4fc,
    30px 10px 25px #00b4fc,
    30px -10px 25px #00b4fc,
    -10px 0px 25px #00b4fc,
    0px 10px 25px #00b4fc,
    0px -10px 25px #00b4fc,
    0px 120px 40px #00b4fc;

    animation: celeste 2s alternate-reverse infinite;
}

@keyframes celeste {
    0%{
        text-shadow:
        5px 0px 1px #009ad6,
        10px 0px 1px #009ad6,
        15px 0px 1px #009ad6,
        
        30px 0px 35px #00b4fc,
        30px 10px 35px #00b4fc,
        30px -10px 35px #00b4fc,
        -10px 0px 5px #00b4fc,
        0px 10px 35px #00b4fc,
        0px -10px 35px #00b4fc,
        0px 120px 50px #00b4fc;
    }
    100%{
            text-shadow:
            5px 0px 1px #009ad6,
            10px 0px 1px #009ad6,
            15px 0px 1px #009ad6,
            
            30px 0px 25px #00b4fc,
            30px 10px 25px #00b4fc,
            30px -10px 25px #00b4fc,
            -10px 0px 25px #00b4fc,
            0px 10px 25px #00b4fc,
            0px -10px 25px #00b4fc,
            0px 120px 40px #00b4fc;
        }
}

.rosa{
    color:#ff00b3;
    text-shadow:
    5px 0px 1px #cf0091,
    10px 0px 1px #cf0091,
    15px 0px 1px #cf0091,
    
    30px 0px 25px #ff00b3,
    30px 10px 25px #ff00b3,
    30px -10px 25px #ff00b3,
    -10px 0px 25px #ff00b3,
    0px 10px 25px #ff00b3,
    0px -10px 25px #ff00b3,
    0px 120px 40px #ff00b3;

    animation: rosa 2s alternate-reverse infinite;
}

@keyframes rosa {
    0%{
        text-shadow:
        5px 0px 1px #cf0091,
        10px 0px 1px #cf0091,
        15px 0px 1px #cf0091,
        
        30px 0px 35px #ff00b3,
        30px 10px 35px #ff00b3,
        30px -10px 35px #ff00b3,
        -10px 0px 35px #ff00b3,
        0px 10px 35px #ff00b3,
        0px -10px 35px #ff00b3,
        0px 120px 50px #ff00b3;
    }
    100%{
            text-shadow:
            5px 0px 1px #cf0091,
            10px 0px 1px #cf0091,
            15px 0px 1px #cf0091,
            
            30px 0px 25px #ff00b3,
            30px 10px 25px #ff00b3,
            30px -10px 25px #ff00b3,
            -10px 0px 25px #ff00b3,
            0px 10px 25px #ff00b3,
            0px -10px 25px #ff00b3,
            0px 120px 40px #ff00b3;
        }
}