:root{
    --negro:#18191a;
}

*{
    padding:0px;
    margin:0px;
}

body{
    background:var(--negro);
}

.contenedor_letrero{
    background-color:transparent;
    width:100vh;
    height:100vh;
    margin:auto;
    display:grid;
    justify-content:center;
}

.texto{
    margin:auto;
    font-size:150px;
    font-family: 'Londrina Shadow', cursive;
    font-weight:bold;
    transition:2s ease;
}

@media screen and (max-width:800px){
    .texto{
        font-size:110px;
    }
}

.texto span{
    transition:0.5s ease;
}

.rojo{
    color:#fd0101;
    text-shadow:
    0px -10px 30px #c00000,
    0px 10px 30px #c00000,
    -10px 0px 30px #c00000,
    10px 0px 30px #c00000,
    0px 120px 50px #c00000;
}

.rojo:hover{
    text-shadow:
    0px -10px 50px #c00000,
    0px 10px 50px #c00000,
    -10px 0px 50px #c00000,
    10px 0px 50px #c00000,
    0px 120px 60px #c00000;
}

.naranja{
    color:#ff9100;
    text-shadow:
    0px -10px 30px #ff9100,
    0px 10px 30px #ff9100,
    -10px 0px 30px #ff9100,
    10px 0px 30px #ff9100,
    0px 120px 50px #ff9100;
}

.naranja:hover{
    text-shadow:
    0px -10px 50px #ff9100,
    0px 10px 50px #ff9100,
    -10px 0px 50px #ff9100,
    10px 0px 50px #ff9100,
    0px 120px 60px #ff9100;
}


.amarillo{
    color:#e2e61c;
    text-shadow:
    0px -10px 30px #e2e61c,
    0px 10px 30px #e2e61c,
    -10px 0px 30px #e2e61c,
    10px 0px 30px #e2e61c,
    0px 120px 50px #e2e61c;
}

.amarillo:hover{
    text-shadow:
    0px -10px 50px #e2e61c,
    0px 10px 50px #e2e61c,
    -10px 0px 50px #e2e61c,
    10px 0px 50px #e2e61c,
    0px 120px 60px #e2e61c;
}

.celeste{
    color:#00b4fc;
    text-shadow:
    0px -10px 30px #00b4fc,
    0px 10px 30px #00b4fc,
    -10px 0px 30px #00b4fc,
    10px 0px 30px #00b4fc,
    0px 120px 50px #00b4fc;
}

.celeste:hover{
    text-shadow:
    0px -10px 50px #00b4fc,
    0px 10px 50px #00b4fc,
    -10px 0px 50px #00b4fc,
    10px 0px 50px #00b4fc,
    0px 120px 60px #00b4fc;
}

.rosa{
    color:#ff00b3;
    text-shadow:
    0px -10px 30px #ff00b3,
    0px 10px 30px #ff00b3,
    -10px 0px 30px #ff00b3,
    10px 0px 30px #ff00b3,
    0px 120px 50px #ff00b3;
}

.rosa:hover{
    text-shadow:
    0px -10px 50px #ff00b3,
    0px 10px 50px #ff00b3,
    -10px 0px 50px #ff00b3,
    10px 0px 50px #ff00b3,
    0px 120px 60px #ff00b3;
}